doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Добавить нового участника
    body 
        ul 
            each val in users 
                li
                    h4= val.username
                    p= val._id
                    form(action=`/group-chat/${id}/add-new-user/${val._id}`, method="post") 
                        input(type="submit", value="Добавить")