doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Chat
    body 
        ul
            each val in messages 
                li= val.author + ": " + val.message 
        input#message(type="text", name="message")
        button#button Отправить
        p#sender(hidden)= sender 
        p#receiver(hidden)= receiver
        script(src="/socket.io/socket.io.js") 
        script(src=`/chat.js`) 