doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Chats
        link(rel="stylesheet", href="/chats.css")
    body 
        header 
            a(href="/profile") Профиль
            a(href="/chats") Чаты
            a(href="/") О нас  
        main
            div
                h3 Чаты
                a(href="/users") Новый чат 
                ul
                    each val in chats 
                        li 
                            h4
                                a(href=`/chats/${val.id}`)= val.username  
            div
                h3 Групповые чаты
                a(href="/new-group-chat") Создать групповой чат 
                ul 
                    each val in groupChats
                        li
                            h4
                                a(href=`/group-chat/${val._id}`)= val.name
        script(src="/socket.io/socket.io.js") 
        script(src="/chats.js") 